
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
@font-face {
    font-family: Barlow-Regular;
    font-weight: 400;
    src: url(../Barlow/Barlow-Regular.ttf);
}
@font-face {
    font-family: Barlow-SemiBold;
    font-weight: 600;
    src: url(../Barlow/Barlow-SemiBold.ttf);
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1280px;
}
:root {
    --primary: #b88e2f;
    --primary-foreground: #fff;
    --grey-dark: #333;
    --foreground: #666;
    --radius: 0.5rem;
   
    --accent-background: #faf3ea;
}
.index{
    overflow-x: hidden;
}
/*-------------section 1-------------------*/
 
.homepage-section  {
    width: 100%;
 position: relative;
 overflow: hidden;
}
.container-box {
 width: 100%;
 max-width: 1280px;
 margin: 0 auto;
}

.homepage-section  .box {
     /* width: 650px; */
padding-left: 16px;
position: absolute;
top: 102px;
text-overflow: clip;
}

.homepage-section  .box  {

 font-weight: 400;
 font-size: 40px;
}

.container {
width: 95%;
margin: 0 auto;
max-width: 1280px;


}
.box{
    position: absolute;

text-overflow: clip;
max-width: 563px;
border-radius: 10px;
background: #f5e0c4;
/* bottom: 44px; */
/* margin-left: 600px; */
/* margin-top: 130px; */
right: 53px;
padding: 26px;
}
.box h1{
color: #b88e2f;
line-height: 60px;
font-family: Barlow-SemiBold;
    font-weight: 600;
font-size: 40px;
margin-top: 25px;
width: 75%;
margin-left: 34px;

}
.box p{
line-height: 1.5;
font-weight: 500;
margin-left: 34px;
font-size: 1.125rem;
flex-shrink: 0;
width: fit-content;
margin-top: 0.75rem;
font-family: Barlow-Regular;
    font-weight: 400;
}
.homepage-btn .btn-1{
color: #fff;
font-weight: 700;
font-size: 0.875rem;
padding: 13px 35px;
background-color: #b88e2f;
justify-content: center;
align-items: center;
font-family: Barlow-Regular;
font-weight: 400;
text-decoration: inherit;
display: inline-flex;
margin-top: 10px;
margin-left: 37px;
}
.homepage-btn .btn-1:hover{
background-color: #fff;
border-color: #b88e2f;
color: #b88e2f;
transition: all 1s ease;
border: 1px solid #b88e2f;
}
.banner-container{
max-height: 590px;
/* max-width: 1270px; */
}


/*---------section-2-------------------*/
.homepagebrowsetherange-section2{
    background-color:#fff;
    min-height: 650px;
    /* display: flex; */
}
.homepagebrowsetherange-section2 h2{
    font-family: Barlow-SemiBold;
    font-weight: 600;
    font-size: 32px;
    color: var(--grey-dark);
    margin-top: 45px;
    /* margin-left: 550px; */
    margin-bottom: 15px;
    text-align: center;
}
.homepagebrowsetherange-section2 p{
    color: var(--foreground);
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: Barlow-Regular;
    font-weight: 400;
    /* margin-left: 420px; */
    text-align: center;
}

.imagesbrowse-row{

    width: 100%;
    background-color:white;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    
}
.diningpic-col1{
    /*! padding-left: 24px; */
  /*! padding-right: 24px; */
  width: calc(100% / 3);
  margin-bottom: 25px;

    margin: 1%;
}

.diningpic-col1 img{
    width: 100%;
    height: 400px;
    /*! max-height: 366px; */
    /*! max-width: 332px; */
    margin-bottom: 10px;
}
.diningpic-col1 h3{
    color: var(--grey-dark);
    /*! margin-left: 35px; */
    line-height: 1;
    font-family: Barlow-SemiBold;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}
.diningpic-col1 h3:hover{
    color: #b88e2f;
}
.livingroom-col2{
    /*! padding-left: 24px; */
    /*! padding-right: 24px; */
    width: calc(100% / 3);
    margin-bottom: 25px;
    min-height: 367px;
    margin: 1%;
}
.livingroom-col2 img{
    width: 100%;
    height: 400px;
    /*! max-width: 332px; */
    margin-bottom: 10px;
}
.livingroom-col2 h3{
    color: var(--grey-dark);
    /*! margin-left: 100px; */
    line-height: 1;
    font-family: Barlow-SemiBold;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}
.livingroom-col2 h3:hover{
    color: #b88e2f;
}
.bedroom-col3{
    /*! padding-left: 24px; */
    /*! padding-right: 24px; */
    width: calc(100% / 3);
    margin-bottom: 25px;
    margin: 1%;
}
.bedroom-col3 img {
    width: 100%;
    /* min-height: 234px; */
    max-height: 400px;
}
.bedroom-col3 h3{
    color: var(--grey-dark);
    /*! margin-left: 103px; */
    line-height: 1;
    font-family: Barlow-SemiBold;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}
.bedroom-col3 h3:hover{
    color: #b88e2f;
}
/*------------section-3--------------------*/
.desc-section3{
    background-color: #f5e0c4;
    min-height: 200px;
    padding: 35px 0px;
    width: 100%;
}
.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1280px;
}
.desc-section3-row{
    
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.section3-col{
    flex-basis: 25%;
    padding: 7px;
    margin-top: 114px;
}

    .section3-col3 img{
    min-width: 300px;
   max-height: 333px;
   box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.03);
    margin-left: 55px;
    margin-top: 115px;
   

}
.slider-section3{
    min-width: 390px;
    min-height: 439px;
    margin-top: 72px;
    margin-right: -35px;
    margin-left: 20px;
    background:url(../images/livingroom.png);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 5px 8px rgba(0,0,0,.3);
    animation: animate 90s infinite;
}

@keyframes animate {
    20%{
        background: url(../images/rec3img.jpg);
        background-size: cover;
    }
    40%{
        background: url(../images/rect4.jpg);
        background-size: cover;
      }
      60%{
        background: url(../images/rect5.webp);
        background-size: cover;
      }
      80%{
        background: url(../images/rectimg1.jpg);
        background-size: cover;
      }
      100%{
        background: url(../images/bedroom.webp);
        background-size: cover;
      }
    
}
.section3-col h2{
    font-family: Barlow-SemiBold;
    font-weight: 600;
    font-size: 32px;
    color: var(--grey-dark);
    width: fit-content;
    margin-top: 35px;
  
}
.section3-col p{
    padding: 56px;
    margin-top: -33px;
    margin-left: -58px;
    font-family: Barlow-Regular;
    font-weight: 400;
}

/*------------section-4----------------------*/
.desc-section4 
{
    background-color: #fff; ;
    min-height: 200px;
 
}
.desc-4-row{
    display: flex;
}
.desc-heading{
    justify-content: center;
  display: flex;
  align-content: center;
}
.desc-4-row h5{
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 71px;
    font-family: Barlow-SemiBold;
    font-weight: 600;
/*! margin-left: 180px; */
/*! color: #b88e2f; */
    margin-left: 133px;
}
.desc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
}
    

.desc-btn .btn{
    color: var(--primary-foreground);
    font-weight: 700;
    font-size: 0.875rem;
    padding: 13px 35px;
    background-color: var(--primary);
    justify-content: center;
    align-items: center;
    text-decoration: inherit;
    margin-top: 74px;
    margin-left: 100px;
    cursor: pointer;
    font-family: Barlow-Regular;
    font-weight: 400;
    margin-top: 78px;
    margin-left: -60px;
    border: none;
    
}
.desc-btn .btn:hover{
    background-color: white;
    color: var(--primary);
    border: 1px solid #b88e2f;
        transition: all 1s ease;
}
